.search-box {
  appearance: none;
  border: 1px solid #95dada;
  border-radius: 5rem;
  display: block;
  line-height: 1rem;
  margin: 30px auto 0;
  outline: none;
  padding: 1rem;
  width: 23rem;
}

.label-container {
  display: none;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 120%;
}
